$dodger-blue: #45b0f9;
$gray: gray;
$scorpion: #5d5c5c;
$white: #ffffff;
$manatee: #eaeaea;
$black: #000000;
$shark: #1E2428;
$porcelain: #f3f4f5;
$abbey: #555a5e;
$jumbo: #6E727C;
$mantis: #55C350;
$alizarin-crimson: #EA212E;
$bombay: #acacae;
$oslo-gray: #888C96;
$font-regular: "Fira Sans Regular", sans-serif;
$font-bold: "Fira Sans Bold", sans-serif;


button.not-in-use {
    cursor: not-allowed;
    opacity: 0.4;
}

button.correctly-left{
    background-color: hsl(0, 0%, 44%);
}

button.incorrect-left{
    background-color: hsl(117, 18%, 52%);
}

button.selected {
    font-weight: bold;
    color: black;
}

.quiz-list, .introduction, .quiz-question, .final-results {
    max-width: 600px;
    margin: 2em auto;

    header{
        text-align: center;
    }
    
    .answers ul {
        list-style: none;
        padding: 1em;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        li .answer {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .solution-container{
        padding: 1em;
        h3 {
            text-align: center;
        }
    }
}


.actions {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.start-button, .next-button, .try-again-button{
    width: 100%;
}

.giveup-button{
    opacity: 0.8;

}
